// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
img {
  max-width: 100%;
  height: auto;
}

img.featured {
  margin-right: 2em;
  margin-bottom: 1em;
  float: left;
}

.responsive-wrapper {
  position: relative;
  padding-bottom: 58.26%;
  height: 0;
  overflow: auto; 
  -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
  border: solid black 1px;
} 
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-single-article img.featured {
  margin: inherit;
  float: none;
}

.full-single-article {
  * + * {
    margin-top: 1em;
  }

  li + li {
    margin-top: 0;
  }
}
ul, ol {
  padding-left: 2em;
  font-weight: 300;
  font-size: 1.2em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

table {
  @extend .table;
}

h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

* + * {
  margin-top: 1em;
}

.code {
  margin-top: 1em;
}

a {
  text-decoration: underline;
}
